<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hailong Studio</title>
<link rel="stylesheet" href="css/device.css" />

<script type='text/javascript' src='js.php' ></script>

</head>
<body>
<div class='screen'>

	<table class='user-table' id='search_table' view='UI.TableView'>
		<thead>
			<tr>
				<th field='key'>did</th>
				<th field='type'>type</th>
				<th field='name'>name</th>
				<th field='unique'>unique</th>
				<th field='model'>model</th>
				<th field='systemName'>systemName</th>
				<th field='systemVersion'>systemVersion</th>
				<th field='createTime' >创建时间</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>加载中...</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='8' class='page'>
					<label id='rowCount' view="UI.Label">总设备数: </label>
					<select id='search_page' view="UI.Select">
						<option value="1">1</option>
					</select>
				</td>
			</tr>
		</tfoot>
	</table>
	
</div>
</body>
</html>