<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hailong Studio</title>
<link rel="stylesheet" href="css/index.css" />

<script type='text/javascript' src='js.php' ></script>

</head>
<body>
<div class='screen'>

	<div class='toolbar'>
		target : <input type='text' id='targetText' view='UI.TextView' />
		<input type='button' value='搜索' id='searchButton' view='UI.Button' />
	</div>
	
	<table class='user-table' id='search_table' view='UI.TableView'>
		<thead>
			<tr>
				<th field='target'>目标</th>
				<th field='pv'>PV</th>
				<th field='uv'>UV</th>
				<th field='ipv'>IPV</th>
				<th field='classifyTime'>时间</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>加载中...</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='5' class='page'>
					<select id='search_page' view="UI.Select">
						<option value="1">1</option>
					</select>
				</td>
			</tr>
		</tfoot>
	</table>
	
</div>
</body>
</html>