<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hailong Studio</title>
<link rel="stylesheet" href="css/app.css" />

<script type='text/javascript' src='js.php' ></script>

</head>
<body>
<div class='screen'>

	<div class='toolbar'>
		<p><a href="index.php">返回</a></p>
		<p>did : <input type='text' id='didText' view='UI.TextView' />
		version : <input type='text' id='versionText' view='UI.TextView' />
		build : <input type='text' id='buildText' view='UI.TextView' />
		<input type='button' value='搜索' id='searchButton' view='UI.Button' />
	</div>
	
	<table class='user-table' id='search_table' view='UI.TableView'>
		<thead>
			<tr>
				<th field='appid' >appid</th>
				<th field='did' >did</th>
				<th field='token' >token</th>
				<th field='version' >version</th>
				<th field='build' >build</th>
				<th field='updateTime' >修改时间</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>加载中...</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='6' class='page'>
					<label id='rowCount' view="UI.Label">总设备数: </label>
					<label id='rowPushCount' view="UI.Label">可推送设备数: </label>
					<select id='search_page' view="UI.Select">
						<option value="1">1</option>
					</select>
				</td>
			</tr>
		</tfoot>
	</table>
	
</div>
</body>
</html>