<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hailong Studio</title>
<link rel="stylesheet" href="css/app.css" />

<script type='text/javascript' src='js.php' ></script>

</head>
<body>
<div class='screen'>
	<div class='toolbar'>
		<p><a href="index.php">返回</a></p>
		<p>platform: iOS:1,Android:2,J2me:3</p>
		<p>updateLevel: Suggest:1,Force:2</p>
	</div>
	<table class='user-table' id='search_table' view='UI.TableView'>
		<thead>
			<tr>
				<th field='key' >avid</th>
				<th field='appid' editable='editable'>appid</th>
				<th field='platform' editable='editable'>platform</th>
				<th field='version' editable='editable'>version</th>
				<th field='content' editable='editable' multi-line='multi-line'>content</th>
				<th field='uri' editable='editable'>uri</th>
				<th field='updateLevel' editable='editable'>updateLevel</th>
				<th field='isLastVersion'>isLastVersion</th>
				<th field='command' ></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>加载中...</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan='9' class='page'>
					<input class='add' type='button' value='添加'></input>
					<select id='search_page' view="UI.Select">
						<option value="1">1</option>
					</select>
				</td>
			</tr>
		</tfoot>
	</table>
	
</div>
</body>
</html>